body {
	background-color:  #FFE4C4;
}

header {
	font-style: Times New Roman;
	font-weight: bold;
	font-size: 30px;
}

.column-1 {
	background-color: #00BFFF;
	border-style: solid;
	border-color: #2F4F4F;
	display: inline-block;
	width: 48%;
	margin: auto;
	vertical-align: text-top;
	font-style: Times New Roman;
	font-size: 20px;
}

.column-2 {
	background-color: #00CED1;
	border-style: solid;
	border-color: #2F4F4F;
	display: inline-block;
	width: 48%;
	margin: auto;
	vertical-align: text-top;
	font-style: Times New Roman;
	font-size: 20px;
}

footer {
	display: inline-block;
	width: 100%;
	font-style: Times New Roman;
	font-size: 10px;
}

